start esx_speedradar
start mapping_speedradar
start esx_radars
start esx_gps
#Loadscreen
start loadscreen

#BUILDINGS
start paletopd


#Custom
start devProp
start streetLabel
start help
#start chatCommands
start coord
start consoleLog

start mysql-custom
start nui

#start menu

